table {
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px !important;
  overflow: hidden;
  user-select: none;
  color: #333;
}
thead tr {
  font-family: sans-serif;
  background-color: #bbb !important;
}
td a {
  color: black;
}
td {
  padding: 10px;
  text-align: center;
}
.even {
  background: #f4f4f4 !important;
}
.odd {
  background: #fff;
}
