body {
  background-image: url('wood.jpg')
}

#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
  padding: 10px;
}

.panel {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
  margin: 5px;
  transition: transform .2s;
  min-width: 250px;
  min-height: 250px;
  border-radius: 20px;
  position: relative;
  background-repeat: repeat-x;
  background-position: 0 50;
  overflow: hidden;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transition-timing-function: cubic-bezier(0.555, 0.095, 0.915, 0.385);
  transition-duration: 200ms;
  border: 1px solid #d7d7d7;
  backface-visibility: hidden;
}

.panel:hover {
  transform: scale(1.02);
  transition-duration: 10ms;
}

.cell {
  background-attachment: fixed;
  background-image: linear-gradient(105deg,
      rgba(255, 255, 255, 0.0) 45%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.0) 51%);
  background-size: 10000px 10000px;
  animation: shimmer 10s infinite linear;
  flex: 1;
  display: flex;
  align-items: center;
}

@keyframes shimmer {
  0% {
    background-position: -10000px 0;
  }

  100% {
    background-position: 10000px 0;
  }
}

.text {
  flex: 1;
  text-align: center;
  display: inline-block;
  padding: 10px
}

.title {
  text-transform: uppercase;
  font-size: large;
}

.description {
  padding: 20px;
}

.tools {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.tool {
  flex: 0 1 auto;
  font-size: 0.8em;
  border: 1px solid black;
  border-radius: 8px;
  padding: 3px;
  margin: 3px;
}