#options {
  display: grid;
  grid-template-columns: auto auto;
  width: max-content;
  gap: 1rem;
  text-align: right;
}

#scopes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  gap: 2rem;
}

#stars {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  gap: 1rem;
}